*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    /* min-height: 100vh; */
}
.nav{
    background-color: rgb(45, 45, 45);
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}
.nav a{
    text-decoration: none;
    color: yellow;
    margin-right: 20px;
    font-size: 18px;
}
#logo{
    font-size: 30px;
    font-weight: bold;
    margin-right: auto;
}