*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    min-height: 100vh;
}
.nav{
    background-color: rgb(20, 20, 20);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1); */
}
.nav a{
    text-decoration: none;
    color: yellow;
    margin-right: 20px;
    font-size: 18px;
}
#logo{
    font-size: 30px;
    font-weight: bold;
    margin-right: auto;
}
.hero{
    height: 500px;
    border: 1px solid white;
}
.popularMv{
    color: white;
    padding: 40px;
}
.card{
    background-color: #1c1c1c;
    color: white;
    border: none;
    transition: 0.3s;
    height: 100px;
    transition:0.3s;
    cursor:pointer;
}
.card:hover{
    transform:scale(1.05);
}
.mvheading{
    padding: 10px;
    /* border: 1px solid white; */
    margin-bottom: 25px;
}